body{
    margin: 0;
    padding: 0;
    color:white !important;
    font-family: 'Gantari', sans-serif;
}
#Home_text{
    text-align: center;
}
#Home_text h1{
font-size: 50px;
line-height: 50px;
}
#Home_text h2{
    line-height: 5px;
}
#Home_text h3{
line-height: 5px;
}
#ChildContainer{
    border-bottom: 10px solid #303030;
}
#DropDownwrapper{
    background-color: #303030;
    width: 800px;
    margin-bottom: 7px;
}
#DropDownwrapper ul{
    padding-left: 0;
}
#DropDownwrapper ul li{ 
    padding: 20px 30px 20px 30px;
    list-style: none;
    font-size: 27px;
}
#Dropbox-wrapper h1{
    font-size: 50px;
}
#Footer-Child{
    width: 800px;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#Footer-title{
    font-size: 18px;
    font-weight: 100;
    color: #8f8686;
}
#Footer-Child p{
    font-size: 15px;
    color: #8f8686;
    width: 200px;
    line-height: 0px;
}
#Footer-Child p:hover{
    text-decoration: underline;
}
#Footer-Child + select{
    background-color: #000;
    color: #b69c9c;
    width: 130px;
    height: 50px;
}
#Footer-Child + select +p{
    color: #8f8686;
}
